body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #aadaff;
    color: #0E86D4;
}

.map {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.loader {
    text-align: center;
    padding-top: 3rem;
}

.info {
    background-color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    color: black;
    max-width: 33%;
    border: 1px solid #cdcdcd;
}

.info h2 {
    margin-top: 0;
}

.info ul {
    padding-left: 1rem;
}

.location-marker {
    position: relative;
}

.location-icon {
    position: absolute;
    top: -14px;
    left: -14px;
    font-size: 2rem;
    cursor: pointer;
}

.location-icon.fire {
    color: orangered;
    font-size: 1.75rem;
}

.location-icon.fire:hover {
    color: red;
}

.location-icon.ice {
    color: #0E86D4;
}

.location-icon.ice:hover {
    color: navy;
}

.location-icon.storms {
    color: gray;
    font-size: 2.25rem;
}

.location-icon.storms:hover {
    color: #333;
}

.location-icon.volcano {
    color: brown;
}

.location-icon.volcano:hover {
    color: #7f0f0f;
}

li.links a {
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}